<!--
  Generated template for the DishdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>dishdetail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <ion-card *ngIf= "dish">
     
       <img src= "{{ dbURL + dish.image}}">
       <ion-card-content>
       	  <ion-card-title>
       	  	{{dish.name | uppercase}}
   </ion-card-title>
   <p>
   	 {{dish.description}}
   </p>
   </ion-card-content>
    <ion-row>
     <button ion-button icon-left small clear color="moradito">
      <ion-item name="star"></ion-item>
      <div>{{averageRating}} Stars </div>
     </button>
   </ion-row>
     
     <ion-col>
    <button ion-button icon-left small clear color ="moradito">
      <ion-item name="text"></ion-item>
      <div>{{numbreComments}} Comments</div>
     </button>
     </ion-col>

    <ion-list>
    	<ion-item *ngFor= "let comment for dish.comments">
    	  <p>{{comment.comment}}</p>
    	  <p>{{commet.rating}} Stars</p>
    	  <p>
    	  	<span>
    	  		{{comment.author}} - {{comment.date | date}}
    	  	</span>
    	  </p>
    	 </ion-item>}
    	</ion-list>
    </ion-card>
</ion-content>
